body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left,
.right {
  padding: 8px 10px;
  background-color: grey;
  border-radius: 5px;

  text-align: center;
  margin: 0px 5vw;
}

.word_container {
  background-color: transparent;
  height: 70vh;
  width: 60vw;

  display: flex;
  align-items: center;
  justify-content: center;

  perspective: 1000px;
}

.word {
  width: inherit;
  height: inherit;

  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: 0.5s;
}

.word__front,
.word__back {
  border: 1px solid black;
  border-radius: 50px;

  width: inherit;
  height: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  backface-visibility: hidden;
}

.word__front {
  background-color: tomato;
}

.word__back {
  background-color: aqua;
  transform: rotateY(180deg);
}

.flip_card {
  transform: rotateY(-180deg);
}
