* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.card {
  width: 50vw;
  height: 70vh;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;

  font-size: 25px;
}

.card-front {
  background-color: #3498db;
  color: #fff;
}

.card-back {
  background-color: #ffc156;
  color: #fff;
  transform: rotateY(180deg);
}

#nextCardBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 10px;
  background-color: #3498db;
  color: #fff;

  width: 15vw;
  text-align: center;
}

#prevCardBtn {
  position: absolute;
  top: 10px;
  cursor: pointer;
  padding: 10px;
  background-color: #3498db;
  color: #fff;

  width: 15vw;
  text-align: center;
}

#nextCardBtn {
  right: 10px;
}

#prevCardBtn {
  left: 10px;
}
