<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>voca</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}"
    />
  </head>
  <body>
    <div id="card" class="card">
      <div class="card-inner">
        <div class="card-front" id="word"></div>
        <div class="card-back" id="meaning"></div>
      </div>
    </div>
    <div id="nextCardBtn">Next Card</div>
    <div id="prevCardBtn">Previous Card</div>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='script.js') }}"
    ></script>
  </body>
</html>
